.Details {
    width: 80%;
    margin: auto;
}

.Details a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.Details .back-button {
    position: absolute;
    top: 5px;
    left: 20px;
    font-weight: bold;
}

.Details .back-button .icon {
    color: rgb(241, 165, 0);
    padding-top: 14px;
    margin-right: 10px;
    font-size: 1.3rem;
    position: relative;
    top: 5px;
}

.Details .Division .line {
    background-color: rgb(168, 168, 168);
}

.Details-container {
    padding-top: 50px;
    display: flex;
}

.Details-image {
    flex: 1;
}

.Details-image img {
    width: 100%;
    box-shadow: 1px 1px 7px #777;
}

.Details-body {
    position: relative;
    top: 70px;
    left: -20px;
    background-color: white;
    box-shadow: 1px 1px 7px #777;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 20px 40px;
    text-align: justify;
    flex: 1;
    transform: rotate(-4deg);
    font-size: 0.9rem;
}

.Description {
    line-height: 1.8;
}

.Details-icons-container {
    display: flex;
    justify-content: center;
}

.Details-icons-container .icon {
    font-size: 3rem;
    padding: 30px;
    color: rgb(241, 165, 0);
    transition: all .3s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.Details-icons-container .icon:hover {
    color: #477979;
}

.Details .Details-technologies-container {
    padding-top: 3%;
    ;
}

.Details .technologies {
    width: 40px;
    padding: 0px 10px;
}

@media (max-width:1200px) {
    .Details-container {
        flex-direction: column;
    }
    .Details-image {
        width: 85%;
        position: relative;
        z-index: 1;
        margin: auto;
    }
  
    .Details-body {
        z-index: 0;
        top: -25px;
        left: 0px;
        padding-top: 60px;
        transform: rotate(0deg);
        font-size: 0.8rem;
    }
}

@media (max-width:700px) {
    .Details {
        padding-top: 50px;
    }
    .Details .Details-technologies-container {
        padding-top: 10%;
    }
}