.Project {
  position: relative;
  box-shadow: 2px 2px 8px #888;
  border-radius: 5%;
  overflow: hidden;
}

.Project h4 {
  margin: 0;
}

.Project .overlay {
  position: absolute;
  bottom: -250px;
  background: linear-gradient(
    170deg, rgba(55, 102, 87, 1) 50%,
    rgba(255, 255, 255, 1) 50%
   
  );
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  transition: bottom ease-in-out 1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5%;
}

.Project:hover .overlay {
  bottom: 0px;
}

.Project .project-image {
  width: 100%;
  border-radius: 5%;
  margin-bottom: -5px;
}

.Project .overlay img {
  width: 50px;
}

.Project .overlay button {
  background-color: #fdb127;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.Project .overlay button:focus {
  outline: none;
}

.Project .overlay button:hover {
  background-color: #d48b04;
}
