.Skills {
  background: linear-gradient(90deg, rgba(102, 98, 98, 0.82) 13%, #80a6a6 96%);
  padding: 70px 0px 30px;
}

.Skills .heading {
  color: white;
}

.Skills .categories-container {
  width: 80%;
  margin: 50px auto;
}

.Skills .container {
  width: 80%;
  background-color: #ffffff38;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  border: 1px solid #ffffff;
  position: relative;
  margin-bottom: 40px;
}

.Skills .container h3 {
  position: absolute;
  top:-40px;
  background-color: #ffc355;
  padding: 3px 15px;
  border-radius: 15px;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.Skills .container-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .Skills {
    padding-top: 90px;
  }
}

@media (max-width: 400px) {
  .Skills .container h3 {
    left:2px;
    font-size: 0.9rem;

  }
}