.Skills {
  background: linear-gradient(
    90deg,
    rgb(197, 191, 191) 13%,
    rgb(55, 102, 87) 96%
  );
  padding-bottom: 25px;
}

.Skills .heading {
  color: white;
  margin-top: 0;
}

.Skills .categories-container {
  width: 80%;
  margin: 50px auto;
}

.Skills .container {
  width: 80%;
  background-color: #ffffff38;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  border: 1px solid #ffffff;
  position: relative;
  margin-bottom: 40px;
}
.Skills .container h3 {
  position: absolute;
  top: -40px;
  background-color: #ffc355;
  padding: 3px 15px;
  border-radius: 15px;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}

.Skills .container-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
}
