.Skills {
  background: linear-gradient( 90deg, rgb(197, 191, 191) 13%, rgb(55, 102, 87) 96%);
}

.Skills .heading {
  color: white;
  margin-top: 0;
}

.Skills .container {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 25px;
}


.Skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .Skills .container {
    grid-template-columns: 1fr 1fr;
  }
}