.About {
  background: linear-gradient(90deg, rgba(102, 98, 98, 0.82) 13%, #80a6a6 96%);
  padding-bottom: 90px;
}

.About .container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.About .profile {
  flex: 1;
  padding: 5%;
  position: relative;
  bottom: -40px;
}

.About img {
  width: 100%;
  border: 15px solid white;
  transform: rotate(-10deg);
  box-shadow: 2px 2px 8px #555;
}

.About .title {
  flex: 1;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.About h1,
.About h3 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.About h1 {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Fresca", sans-serif;
}

.About h3 {
  font-size: 1.5rem;
  font-family: "Text Me One", sans-serif;
}

.About h4 {
  font-family: "Fresca", sans-serif;
  font-size: 1.5rem;
}

.About p {
  font-family: "Text Me One", sans-serif;
  font-weight: bold;
  color: rgb(71, 71, 71);
  line-height: 1.5;
}

.capital {
  text-transform: uppercase;
}

.About .about-me {
  margin: auto;
  width: 70%;
  background-color: #fff;
  text-align: left;
  box-shadow: 2px 2px 8px #444;
  padding: 100px 45px 50px;
}

.About h4 {
  margin: 0;
}

@media only screen and (max-width: 1060px) {
  .About {
    padding-bottom: 5%;
  }
  .About .container {
    flex-direction: column;
  }
  .About .profile {
    order: 1;
    margin-top: -80px;
  }
  .About img {
    width: 90%;
    transform: rotate(0deg);
  }
}
