.About {
  background: linear-gradient(90deg, rgba(102, 98, 98, 0.82) 13%, #80a6a6 96%);
  padding-bottom: 90px;
}

.About-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.About-profile {
  flex: 1;
  padding: 5%;
  position: relative;
  bottom: -40px;
}

.About img {
  width: 100%;
  border: 15px solid white;
  transform: rotate(-10deg);
  box-shadow: 0px 2px 0px 0px #555;
}

.About-title {
  flex: 1;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.About h1, .About h3 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.About h1 {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Fresca", sans-serif;
}

.About h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.About h4 {
  font-size: 1.3rem;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px #000;
}

.About p {
  font-weight: bold;
  color: rgb(3, 3, 3);
  line-height: 2;
  font-size: 0.8rem;
}

.capital {
  text-transform: uppercase;
}

.About-me {
  margin: auto;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.445);
  text-align: left;
  border-radius: 15px;
  padding: 40px;
  border: 1px solid white;
}

@media only screen and (max-width: 1060px) {
  .About {
    padding-bottom: 5%;
  }
  .About-me {
    margin-top: -40px;
    padding: 90px 40px 40px;
    margin-bottom: 40px;

  }
  .About h1 {
    font-size: 2.5rem;
  }
  .About h3 {
    font-size: 1.2rem;
  }
  .About-me h4 {
    font-size: 1rem;
  }
  .About-me p {
    font-size: 0.7rem;
  }
  .About-container {
    flex-direction: column;
  }
  .About-profile {
    order: 1;
    margin-top: -80px;
  }
  .About img {
    width: 75%;
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 500px) {
  .About-me {
    padding: 80px 25px 25px;
  }
}