.About {
  background-color: #80a6a6;
  padding-bottom: 5%;
}

.About .container {
  display: flex;
  align-items: center;
}

.About .profile {
  flex: 1;
  padding: 5%;
}

.About img {
  width: 100%;
  border: 15px solid white;
  transform: rotate(-10deg);
  box-shadow: 2px 2px 8px #555;
}

.About .title {
  padding: 2%;
  flex: 1;
  color: white;
  letter-spacing: 2px;
}

.About h1,
.About h3 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.About h1 {
  font-size: 3.5rem;
  font-family: "Text Me One", sans-serif;
}
.About h3 {
  font-size: 1.8rem;
  font-family: "Fresca", sans-serif;
}
.About h4 {
  font-family: "Fresca", sans-serif;
  font-size: 1.5rem;
}

.About p {
  font-family: "Text Me One", sans-serif;
  font-weight: bold;
  color: rgb(71, 71, 71);
  line-height: 1.5;
}

.division {
  display: flex;
  align-items: center;
  justify-content: center;
}

.division .icon {
  margin: 10px;
}

.line {
  width: 100px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.capital {
  text-transform: uppercase;
}

.About .about-me {
  margin: auto;
  width: 70%;
  background-color: bisque;
  text-align: left;
  box-shadow: 2px 2px 8px #444;
  padding: 35px;
}

.About h4{
    margin: 0;
}


@media only screen and (max-width: 1000px) {
  .About .container {
    flex-direction: column;
  }
  .About .profile {
    order: 1;
  }
  .About img {
    width: 90%;
    transform: rotate(0deg);
  }
  .About h1,
  .About h3 {
    max-width: 100%;
  }
}
