.Contact {
    padding-top: 70px;
    padding-bottom: 40px;
}

.Contact .container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Contact .container .icon{
    font-size: 3rem;
    padding: 60px;
    color: rgb(241, 165, 0);
    transition: all .3s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.Contact .container .icon:hover{
    color: rgb(32, 78, 44);
}

.Contact .Division .line {
    background-color: rgb(168, 168, 168);
}

.icon.email{
    font-size: 5rem;
}

@media (max-width: 600px){
    .Contact .container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        
    }
    .Contact .container .icon{
        font-size: 3rem;
        padding: 10px;
        margin-top: 15px;
    }  
}