.NavBar {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 0.8%;
  box-shadow: 3px 2px 4px #777777;
}

.NavBar .logo {
  flex: 1;
  display: flex;
  padding-left: 2%;
}

.NavBar .logo a{
  position: relative;
}

.NavBar .logo img{
  width: 120px;
  position: absolute;
}

.NavBar-continer-button-menu {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.NavBar-button {
  display: none;
}

.NavBar-box {
  display: flex;
  margin-top: 10px;
}

.NavBar-box-link {
  padding: 10px 20px;
}

.NavBar-box-link a {
  color: rgb(55, 102, 87);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .NavBar {
    flex-direction: column;
  }
  


  .NavBar-continer-button-menu {
    position: relative;
  }

  .NavBar .logo img{
    width: 100px;
    position: relative;
  }

  .NavBar-button {
    position: absolute;
    top: -85px;
    display: block;
    order: 2;
    background-color: transparent;
    border: none;
  }

  .NavBar-button:focus,
  .NavBar-button:active {
    border: none;
    outline: none;
  }

  .NavBar-box {
    order: 1;
    display: none;
  }

  .NavBar-box.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .NavBar-box-link {
    padding: 5% 0;
    border-top: 3px solid rgb(241, 241, 241);
  }
  .NavBar-box-link:hover{
    background-color:  #e6e6e63d;
  }

  .NavBar .hamburger {
    color: #a8a8a8;
    font-size: 2rem;
    padding-top: 10px;
  }

}
